*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #fcfcfc;
    color: #2b2b2b;
}


/* Pages */

#pages {
    width: 100%;
    height: 100%;
}

#pages section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


/* Language select */

.select {
    position: absolute;
    top: 15px;
    right: 15px;
}

.select #language-picker-select {
    display: none;
}

.select-selected {
    background-color: #e0e0e0e0;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #777777 transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #777777 transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: #e0e0e0;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* About */

#about .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about h1 {
    margin: 0 50px;
    margin-right: 70px;
    font-size: 62pt;
}

#about span {
    margin: 0 -50px 0 50px;
    font-size: 18pt;
    color: #535353;
}

#about span a {
    text-decoration: none;
    color: #3316da;
}

#about span a:hover {
    text-decoration: underline;
}

#about img {
    height: 90%;
    border-radius: 50%;
}

#about p {
    width: 60%;
    margin: 70px 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    line-height: 20pt;
    color: #777777;
}

#about #links {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

#about #links a {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s ease-in-out;
}

#about #links a:hover {
    background: #3316da;
}

#about #links a i {
    font-size: 30px;
    color: #fff;
}


/* Experience */

#experience h1 {
    margin: 0 0 60px 50px;
    font-size: 24pt;
}

#experience .experience {
    width: 70%;
    margin: 20px 50px;
}

#experience h3 {
    display: inline-block;
    font-size: 18pt;
}

#experience .date {
    float: right;
    color: #3316da;
}

#experience .subtitle {
    color: #535353;
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0;
}

#experience .text {
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    color: #777777;
    margin: 10px 0;
    display: inline-block;
    width: 85%;
}

#experience .list {
    margin-left: 30px;
}

#experience .list a {
    text-decoration: none;
    color: #3316da;
}

#experience .list a:hover {
    text-decoration: underline;
}


/* Education */

#education h1 {
    margin: 0 0 60px 50px;
    font-size: 24pt;
}

#education .education {
    width: 70%;
    margin: 20px 50px;
}

#education h3 {
    display: inline-block;
    font-size: 18pt;
}

#education .date {
    float: right;
    color: #3316da;
}

#education .subtitle {
    color: #535353;
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0;
}

#education .text {
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    color: #777777;
    margin: 10px 0;
    display: inline-block;
    width: 85%;
}


/* Skills */

#skills h1 {
    margin: 0 0 60px 50px;
    font-size: 24pt;
}

#skills h3 {
    margin: 0 0 20px 50px;
    font-size: 18pt;
    color: #535353;
}

#skills #tools {
    margin: 0 0 40px 50px;
    display: flex;
    flex-direction: row;
}

#skills #tools .tool {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s ease-in-out;
}

#skills #tools .tool i {
    font-size: 30px;
    color: #fff;
}

#skills #languages {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    color: #777777;
}

#skills #languages .level {
    color: #3316da;
    margin-left: 20px;
}


/* Interests */

#interests h1 {
    margin: 0 0 60px 50px;
    font-size: 24pt;
}

#interests p {
    margin: 0 0 0 50px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    color: #777777;
}


/* Media queries */

@media (max-width:1050px) {
    #about h1 {
        margin: 0 50px;
    }
    #about span {
        font-size: 14pt;
    }
    #about span:last-child {
        margin-right: 50px;
    }
    #about img {
        display: none;
    }
    #experience .experience,
    #education .education,
    #interests p {
        width: calc(100% - 100px);
    }
}

@media (max-width:850px) {
    #about p {
        width: calc(100% - 100px);
    }
    #experience .experience .text,
    #education .education .text {
        width: 100%;
    }
    #skills #tools {
        width: calc(100% - 100px);
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    #skills #tools .tool {
        margin-bottom: 20px;
    }
}

@media (max-width:700px) {
    #experience h3,
    #education h3 {
        display: block;
    }
    #experience span.date,
    #education span.date {
        float: none;
    }
}

@media (max-width: 530px) {
    #about .header .text h1 {
        font-size: 40pt;
        margin: 0 25px;
    }
    #about .header .text span {
        margin: 0 -25px 0 25px;
    }
    #about p {
        margin: 70px 25px;
    }
    #about #links {
        margin: 0 25px;
    }
    #experience h1,
    #education h1,
    #skills h1,
    #interests h1 {
        margin-left: 25px;
    }
    #experience .experience,
    #education .education {
        margin: 20px 25px;
        width: calc(100% - 50px);
    }
    #skills h3 {
        margin: 0 0 20px 25px;
    }
    #skills #tools {
        justify-content: space-evenly;
        margin-left: 25px;
        width: calc(100% - 50px);
    }
    #skills #languages {
        margin-left: 25px;
    }
    #interests p {
        margin-left: 25px;
        width: calc(100% - 50px);
    }
}

@media (max-width:450px) {
    #about .header .text h1 {
        font-size: 26pt;
    }
    #about .header .text span {
        font-size: 12pt;
    }
    #about p {
        font-size: 11pt;
    }
    #experience h1,
    #education h1,
    #skills h1,
    #interests h1 {
        font-size: 18pt;
    }
    #experience .experience h3,
    #education .education h3 {
        font-size: 15pt;
    }
    #experience .experience span.date,
    #education .education span.date {
        font-size: 11pt;
    }
    #experience .experience p.subtitle,
    #education .education p.subtitle {
        font-size: 12pt;
    }
}


/*easy scroll dots - navigation - no touchy */

.scroll-indicator-controller {
    position: fixed;
    top: 50vh;
    transform: translate(0, -50%);
    right: 20px;
    z-index: 999;
}

@media (max-width: 1024px) {
    .scroll-indicator-controller {
        right: 10px;
    }
}

.scroll-indicator-controller>div {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #3316da;
    background: rgba(0, 0, 0, 0.4);
    margin: 0 0 20px 0;
    cursor: pointer;
    transition: background 0.4s ease;
    will-change: transition;
}

.scroll-indicator-controller>div span {
    color: #3316da;
    position: absolute;
    right: calc(100% + 8px);
    white-space: nowrap;
    top: -4px;
    font-size: 16px;
    line-height: 17px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
    will-change: transition;
    color: #777777;
    font-weight: 300;
}

.scroll-indicator-controller>div span:after {
    content: "-----";
    padding-left: 5px;
    letter-spacing: -3px;
    vertical-align: text-top;
    font-weight: 400;
}

@media (hover: hover) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .scroll-indicator-controller>div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateX(0px);
    }
}

@media (hover: none) {
    .scroll-indicator-controller>div span {
        display: none;
    }
}

.scroll-indicator-controller.indi-mobile>div span {
    display: none;
}

.scroll-indicator-controller>div.active {
    background: #3316da;
    border-color: rgba(0, 0, 0, 0.25);
}

@supports (-ms-ime-align:auto) {
    .scroll-indicator-controller>div span {
        transition: opacity 0.4s ease;
    }
}