* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #fcfcfc;
    color: #2b2b2b;
}

/* Pages */
#pages {
    width: 100%;
    height: 100%;
}

#pages section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/* About */

#about {
    background: bisque;
}

#about .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about h1 {
    margin-left: 50px;
    font-size: 62pt;
}

#about span {
    margin-left: 50px;
    font-size: 18pt;
    color: #535353;
}

#about span a {
    text-decoration: none;
    color: #3316da;
}

#about span a:hover {
    text-decoration: underline;
}

#about img {
    height: 90%;
    border-radius: 50%;
}

#about p {
    width: 60%;
    margin: 70px 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    line-height: 20pt;
    color: #777777;
}

#about #links {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

#about #links a {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s ease-in-out;
}

#about #links a:hover {
    background: #3316da;
}

#about #links a i {
    font-size: 30px;
    color: #fff;
}

/* Experience */

#experience {
    background: green;
}

#experience h1 {
    margin: 0 0 20px 50px;
    font-size: 24pt;
}

#experience .experience {
    width: 70%;
    margin: 20px 50px;
}

#experience h3 {
    display: inline-block;
    font-size: 18pt;
}

#experience .date {
    float: right;
    color: #3316da;
}

#experience .subtitle {
    color: #535353;
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0;
}

#experience .text {
    font-family: 'Roboto', sans-serif;
    line-height: 18pt;
    color: #777777;
    margin: 10px 0;
    display: inline-block;
    width: 85%;
}

#experience .list {
    margin-left: 30px;
}

#experience .list a {
    text-decoration: none;
    color: #3316da;
}

#experience .list a:hover {
    text-decoration: underline;
}

/* Education */

#eductaion {
    background: chartreuse;
}

#skills {
    background: chocolate;
}

#interests {
    background: crimson;
}

#pages section {
    background: none;
}